<div class="container">
    <div class="page-header">
        <h1>Fiche Location</h1>
    </div>
    <form>
        <div class="form-group" has-error="errors.nom">
            <label for="id">Id</label>
            <input ng-model="location.id" type="text" id="id" class="form-control">
            <field-errors errors="errors.id"></field-errors>
        </div>
        <div class="form-group" has-error="errors.prenom">
            <label for="date_debut">Date début</label>
            <input ng-model="location.date_debut" type="text" id="date_debut" class="form-control">
            <field-errors errors="errors.date_debut"></field-errors>
        </div>
        <div class="form-group" has-error="errors.prenom">
            <label for="date_fin">Date fin</label>
            <input ng-model="location.date_debut" type="text" id="date_fin" class="form-control">
            <field-errors errors="errors.date_debut"></field-errors>
        </div>
        <div class="form-group" has-error="errors.adresse">
            <label for="status">Statut</label>
            <input ng-model="location.status" type="text" id="status" class="form-control">
            <field-errors errors="errors.status"></field-errors>
        </div>
        <div class="form-group" has-error="errors.telephone">
            <label for="created_at">Création</label>
            <input ng-model="location.created_at" type="text" id="created_at" class="form-control">
            <field-errors errors="errors.created_at"></field-errors>
        </div>
        <div class="form-group" has-error="errors.email">
            <label for="updated_at">Mise à jour</label>
            <input ng-model="location.updated_at" type="text" id="updated_at" class="form-control">
            <field-errors errors="errors.update_at"></field-errors>
        </div>
        <input ng-click="save()" type="submit" value="Modifier" class="btn btn-success">
    </form>
</div>
