<div class="container">
    <div class="page-header">
        <h1>Récapitulatif Location</h1>
    </div>
    <div class="col-md-12"  >
        <form name="myForm" role="form" >
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default" is-open="true">
                    <uib-accordion-heading>
                        <strong>CLIENT </strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>

                    <div class="help-block"></div>

                    <div class="row" >
                        <div class="col-md-4" has-error="errors.nom" >
                            <label for="nom">Nom</label>
                            <input required disabled ng-model="client.nom" type="text" name="nom" class="form-control" id="nom">
                            <field-errors errors="errors.nom"></field-errors>
                        </div>
                        <div class="col-md-4" has-error="errors.prenom" ng-class="{'has-error': myForm.prenom.$dirty && myForm.prenom.$touched && myForm.prenom.$error.required}">
                            <label for="prenom">Prénom</label>
                            <input required disabled ng-model="client.prenom" type="text" name="prenom" class="form-control" id="prenom">
                            <field-errors errors="errors.prenom"></field-errors>
                        </div>
                        <div class="col-md-4" has-error="errors.organisme"  ng-class="{'has-error': myForm.organisme.$dirty && myForm.organisme.$organisme && myForm.organisme.$error.required}">
                            <label for="organisme">Organisme</label>
                            <input required disabled ng-model="client.organisme" type="text" name="organisme" class="form-control" id="organisme">
                            <field-errors errors="errors.organisme"></field-errors>
                        </div>
                        <div class="col-md-4" has-error="errors.adresse"  ng-class="{'has-error': myForm.adresse.$dirty && myForm.adresse.$touched && myForm.adresse.$error.required}">
                            <label for="adresse">Adresse</label>
                            <input required disabled ng-model="client.adresse" type="text" name="adresse" class="form-control" id="adresse">
                            <field-errors errors="errors.adresse"></field-errors>
                        </div>
                        <div class="col-md-4" has-error="errors.telephone" ng-class="{'has-error': myForm.telephone.$dirty && myForm.telephone.$touched && myForm.telephone.$error.required}">
                            <label for="telephone">Téléphone</label>
                            <input required  disabled ng-model="client.telephone" type="text" name="telephone" class="form-control" id="telephone">
                            <field-errors errors="errors.telephone"></field-errors>
                        </div>
                        <div class="col-md-4" has-error="errors.email" ng-class="{'has-error': myForm.email.$dirty && myForm.email.$touched && myForm.email.$error.required || myForm.email.$error.email}">
                            <label for="email">Email</label>
                            <input required disabled ng-model="client.email" type="email" name="email" class="form-control" id="email">
                            <field-errors errors="errors.email"></field-errors>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="panel-default" is-open="true">
                    <uib-accordion-heading>
                        <strong>Informations sur la location</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="date_debut">Date début</label>
                            <p class="input-group" has-error="errors.date_debut">
                                <input type="text"  disabled id="date_debut" class="form-control" datepicker-options="dateOptions" ng-model="location.date_debut" uib-datepicker-popup="{{format}}"   is-open='popup1.opened' close-text="Fermer" />
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()" ><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                            </p>
                            <div class="has-error">
                                <field-errors errors="errors.date_debut" first="true"></field-errors>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="date_fin">Date de fin</label>
                            <p class="input-group" has-error="errors.date_fin">
                                <input type="text"  disabled id="date_fin" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="location.date_fin" is-open='popup2.opened' close-text="Fermer" />
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                            </p>
                            <div class="has-error">
                                <field-errors errors="errors.date_fin" first="true"></field-errors>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" has-error="errors.status">
                                <label for="status">Status</label>
                                <select disabled ng-model="location.status" class="form-control" id="status">
                                    <option selected="selected" value="active">Active</option>
                                    <option  value="inactive">Inactive</option>
                                </select>
                                <field-errors errors="errors.organisme"></field-errors>
                            </div>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="panel-default" is-open="true">
                    <uib-accordion-heading>
                        <strong>Matériel Loué</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <div class="">
                        <table class="table table-striped table-hover">
                            <thead class="levelTwo">
                        <tr>
                            <th>#Code</th>
                            <th>Statut</th>
                            <th>Prix</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items" >
                            <td>{{ item.code }}</td>
                            <td>{{ item.status }}</td>
                            <td >{{ item.product.prix }} €</td>
                            <td>
                                <button  ng-click="loadDetailForm(item)" class="btn btn-info btn-xs">
                                    <span  class="glyphicon glyphicon-info-sign"></span>
                                </button>
                                <button ng-click="removeItem(item)" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </uib-accordion>

        </form>
    </div>
    <div class="col-md-12" >
        <div class="row">

        </div>
        <hr>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Totaux</div>
            <div class="panel-body">
                <div class="well">
                    <h4 ng-if= "(location.date_fin - location.date_debut)/1000/60/60/24  < 1.5"> Durée de la location : 1 journée </h4>
                    <h4 ng-if= "(location.date_fin - location.date_debut)/1000/60/60/24  > 1.5"> Durée de la location : {{(location.date_fin - location.date_debut)/1000/60/60/24 | number:0 }} jours </h4>
                    <h2 ng-if= "(location.date_fin - location.date_debut)/1000/60/60/24  === 0"> Prix Total :  {{ location.prix }} €</h2>
                    <h2 ng-if= "(location.date_fin - location.date_debut)/1000/60/60/24  !== 0"> Prix Total :  {{ location.prix  }} €</h2>
                </div>
            </div>
        </div>


        <div class="text-center">
            <button ng-click="" class="btn btn-warning btn-sx" type="button">Imprimer</button>
            <button ng-click="save()" class="btn btn-primary btn-sx" type="button">Valider</button>
        </div>
        </form>
    </div>
</div>