<div class="container">
  <div class="page-header">
    <h1>Matériels <a ui-sref="products.add" class="btn btn-primary pull-right">Ajouter</a></h1>
  </div>

  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="category_id">Filtrer par catégorie</label>
          <select ng-change="filterProducts()" ng-model="category_id" class="form-control" id="category_id">
            <option ng-repeat="category in categories" ng-value="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label for="search">Rechercher</label>
        <div class="input-group">
          <input ng-model="search" type="text" id="search" class="form-control" placeholder="Recherche">
          <div class="input-group-btn">
            <button class="btn btn-default" ng-click="search = ''">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <hr>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Catégorie</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products | filter : search">
        <th>{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.categories[0].name }}</td>
        <td class="text-right">
          <a ui-sref="items.add({ product_id: product.id })" class="btn btn-success btn-xs">Ajouter un article</a>
          <a ui-sref="products.edit({ id: product.id })" class="btn btn-warning btn-xs">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="delete(product)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
