<div class="container">
  <div class="page-header text-center">
    <h1>Sign up</h1>
  </div>
  <form>
    <div class="form-group" has-error="errors.username">
      <label for="username">Username</label>
      <input type="text" id="username" class="form-control" ng-model="user.username">
    </div>
    <field-errors errors="errors.username"></field-errors>

    <div class="form-group" has-error="errors.email">
      <label for="email">Email</label>
      <input type="text" id="email" class="form-control" ng-model="user.email">
    </div>
    <field-errors errors="errors.email"></field-errors>

    <div class="form-group" has-error="errors.password">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" ng-model="user.password">
    </div>
    <field-errors errors="errors.password"></field-errors>

    <div class="form-group" has-error="errors.password_confirm">
      <label for="password-confirm">Confirm password</label>
      <input type="password" id="password-confirm" class="form-control" ng-model="user.password_confirm">
    </div>
    <field-errors errors="errors.password_confirm"></field-errors>

    <input type="submit" class="btn btn-success" value="Register" ng-click="register()">
  </form>
</div>
